<!DOCTYPE html>
<html lang="ru">
  <head>    
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'img/fav/favicon.ico' %}" type="image">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/fav/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/fav/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/fav/favicon-16x16.png' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <title>Лента записей</title>
  </head>
  <body>
    {% include "includes/header.html" %}
    <main>
      <div class="container py-5">
        <h1>Лента записей</h1>
        <hr>
        {% for post in posts %}
        <article>
          <ul>
            <li>
              Место: {{ post.location }}              
            </li>
            <li>
              Дата: {{ post.date }}
            </li>
            <li>
              Категория: <a href="{{ base_url }}/category/{{ post.category|lower }}">{{ post.category }}</a>
            </li>
          </ul>          
          <!-- Первые 10 слов -->
          <p>
            {{ post.text|truncatewords:10 }}...
          </p>
          <a href="{{ base_url }}/posts/{{ post.id }}">Читать полный текст</a>
        </article>
        <hr>
        {% endfor %}
      </div>
    </main>
  {% include "includes/footer.html" %}
  </body>
</html>